@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
overflow-x: hidden;
}

/*Main Part Starts*/

.App {
background: #44E5E7;
color: #5C7AFF;
height: 50px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.2);;
}

.logo-main {
margin-left: 30px;
margin-right: 30px;
}

.logo-title{
font-family: 'Major Mono Display', monospace;
font-size: 1.4rem;
font-weight: bold;
color: white;
}

.select-part {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    transparent no-repeat 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 15%;
  max-width: 300px;
  min-width: 160px;
  padding: 7.6px 15px;
  border: solid;
  border-width: 1px;
}

.After-App
{
background: #59D2FE;
height: 100%;
width: 100%;
}
/*Main Part Ends */
/*Algo Part Starts*/
.algo-top {
margin-top: 10px;
color: #5C7AFF;
height: 30px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
font-family: 'Playfair Display', serif;
}

.algo-top span{
margin-left: 20px;
margin-right: 20px;
}

.algo-title {
font-size: 1.3rem;
}
/*Algo Part Ends*/

/*Bubble Sort Part Starts*/
.bubble-main {
position: relative;
top: 10;
margin-left: 20px;
margin-right: 20px;
}

.bubble-sortbutton{
position: absolute;
top: 10px;
right: 0px;
z-index: 2;
}

.bubble-master {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
}

.bubble-small {
  background: #575A5E;
  border-left: 1px solid #222823;
  position: absolute;
  top: 0;
  width: 7.2px;
}
/*Bubble Sort Part Ends*/

/*Sudoku Solver*/

.sudoku-master {
width: 100vw;
height: 100vh;
text-align: center;
}

.singlerow{
margin: 0 auto;
}

.sudo-input{
width: 50px;
height: 50px;
color: black;
text-align: center;
font-size: 1.6rem;
font-weight: bold;
background-color: white;
border: 1px solid black;
border-radius: 0px;
}

.sudo-input:disabled{
background-color: white;
border: 1px solid black;
border-radius: 0px;
color: black;
}

/*Sudoku Solver Part Ends*/


/*Dijkstra Part Starts here*/
.d-row{
display: flex;
justify-content: center;
}

.d-cell
{
width: 30px;
height: 30px;
border: 0.5px solid black;
transition: background 1s;
}

/*Dijkstra Part ends here*/
